.header {
    width: 100%;
    height: 20rem;
    background-repeat: no-repeat;
    background-size: cover;
	background-position: center;
	display: flex;
	justify-content: center;
	position: relative;
	z-index: 200;
	
	&--home {
		background-image: url("../../img/jpg/headers/4k/home_header_4000w.jpg");
	}

	&--erg-chebbi {
		background-image: url("../../img/jpg/headers/4k/erg_header_4000w.jpg");
	}

	&--ait-benhaddou {
		background-image: url("../../img/jpg/headers/4k/ait_header_4000w.jpg");
	}

	&--chefchaouen {
		background-image: url("../../img/jpg/headers/4k/chef_header_4000w.jpg");
	}
}