.navigation {
	background-color: var(--light-grey-accent);
	padding: 1.5rem;
	position: sticky;
	top: 0;
	z-index: 100;

	// Desktop nav and general styling
	&__list {
		display: flex;
		justify-content: center;
	}

	&__item {
		list-style: none;
	}

	&__link {
		&:link,
		&:visited {
			font-size: 1.6rem;
			margin: 1rem 2rem;
			color: inherit;
			text-decoration: none;
			transition: all .2s;

			@include reduce-motion;
		}

		&:hover,
		&:focus {
			color: var(--white-color);
			transform: translateY(-.2rem);
		}

		&:focus {
			outline: none;
		}

		&.navigation__link--highlight {
			color: var(--white-color);
			text-decoration: underline;
			cursor: default;
		}
	}

	// Mobile nav initial state
	&__checkbox,
	&__button,
	&__icon,
	&__title {
		display: none;
	}

	// Collapse nav at 660px and show site logo with hamburger toggler
	@media only screen and (max-width: 41.25em) {

		&__checkbox,
		&__button,
		&__icon,
		&__title {
			display: block;
		}

		// Mobile navigation
		& {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			align-items: center;
			padding: 0;
		}

		&__checkbox {
			width: 0;
			height: 0;
			visibility: hidden;
			position: absolute;
		}

		&__button{
			width: 3rem;
			// height: 2.2rem;
			height: 100%;
			position: relative;
			cursor: pointer;
			display: block;
			padding: 2rem 0;
			margin-right: 2rem;
			background-color: var(--light-grey-accent);
			transition: all .2s;

			@include reduce-motion;

			&:focus {
				outline: none;
			}

			&:hover > *,
			&:hover > *::before,
			&:hover > *::after,
			&:focus > *,
			&:focus > *::before,
			&:focus > *::after {
				background-color: var(--black-color);
			}
		}

		&__icon {
			border: none;
			border-radius: 0;
			background-color: var(--white-color);
			height: 2px;
			width: 3rem;
			position: absolute;
			left: 0;
			line-height: normal;
			font-size: 1rem;
			z-index: 101;
			transition: all .3s;

			@include reduce-motion;
		
			&::before,
			&::after {
				background-color: var(--white-color);
				height: 2px;
				width: 3rem;
				content: "";
				display: block;
				position: absolute;
				z-index: 101;
				transition: all .3s;

				@include reduce-motion;
			}
		
			&::before { transform: translateY(-.9rem); }
			&::after { transform: translateY(.9rem); }
			
			&:focus {
				outline: none;
			}
		}

		&__title {
			font-size: 2rem;
			font-family: $font-display;
			flex: 1;
			background-color: var(--light-grey-accent);
			height: 100%;
			padding: 1.5rem 2rem;
			position: relative;
			z-index: 100;
		}

		&__menu {
			transform: translateY(-300%);
			position: absolute;
			left: 0;
			top: 5rem;
			width: 100vw;
			background-color: var(--light-grey-accent);
			z-index: 99;
			transition: all .3s ease-out;

			@include reduce-motion;
		}

		&__list {
			flex-direction: column;
			padding: 0 2rem;
		}

		&__link {
			&:link,
			&:visited {
				margin: unset;
			}
		}

		&__item {
			padding: 1rem 0;

			&:last-child {
				padding-bottom: 2rem;
			}
		}
	
		// Checkbox functionality
		&__checkbox:checked ~ &__button &__icon { background-color: transparent; }
	
		&__checkbox:checked ~ &__button &__icon::before { 
			top: 0;
			transform: rotate(135deg);
		}
		
		&__checkbox:checked ~ &__button &__icon::after { 
			top: 0;
			transform: rotate(-135deg);
		}

		&__checkbox:checked ~ &__button {
			margin-right: 1.5rem;
		}

		&__checkbox:checked ~ &__menu {
			transform: translateY(0);
		}
	}
}