.landscape-gallery {
	width: $page-width;
	margin: auto;
	margin-bottom: 1.5rem;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
	grid-template-rows: 1fr;
	gap: 1.5rem;
	padding: 1.5rem;

	// 420px
	@media only screen and (max-width: 26.25em) {
		grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
	}

	&__item {
		position: relative;
		margin: 0;
		perspective: 100rem;
		height: 100%;
		z-index: 1;
		transition: z-index 2s;

		// make hovered card overlap non-hovered cards
		&:hover,
		&:focus-within {
			z-index: 10;
		}

		&:hover .landscape-gallery__container,
		&:focus-within .landscape-gallery__container {
			transform: rotateY(-180deg);
		}

		&:hover .landscape-gallery__caption,
		&:focus-within .landscape-gallery__caption {
			transform: rotateY(0);
		}

		// keep all images to the same aspect ratio
		&::before {
			content: "";
			display: block;
			height: 0;
			width: 0;
			padding-bottom: calc(2/3 * 100%);
		}
	}

	&__container,
	&__image,
	&__caption {
		width: 100%;
		height: inherit;
		position: absolute;
		top: 0;
		left: 0;
	}

	&__container {
		transition: all .8s;
	}

	&__image {
		object-fit: cover;
		object-position: center;
		display: block;
		border-radius: 2rem;
		box-shadow: .2rem .2rem 1rem rgba(0,0,0,.2);
	}

	&__caption {
		display: grid;
		place-content: center;
		transform: rotateY(180deg);
		backface-visibility: hidden;
		transition: all .8s;
		will-change: transform; // Fix for animation bug in Chrome rendering a black 'shadow' behind link text whilst transforming
    	border-radius: 2rem;
		background-color: rgba(0,0,0,.5);

		@supports (-webkit-backdrop-filter: blur(.3rem)) or (backdrop-filter: blur(.3rem)) {
			backdrop-filter: blur(.3rem) brightness(0.8);
			background-color: transparent;
		}
	}

	&__link {
		font-family: $font-display;
		font-size: 3rem;
		text-align: center;
		transition: all .2s;

		&:link,
		&:visited {
			text-decoration: none;
			color: var(--white-color);
		}

		&:hover,
		&:focus {
			transform: translateY(-.2rem);
		}

		&:focus {
			outline: none;
		}
	}
}