.page-links {
	margin: 1.5rem auto;
	padding: 1.5rem;

	&__container {
		// width and height set so container has aspect ratio of 16:9
		width: 44.44444rem;
		height: 25rem;
		margin: auto;
		margin-bottom: 6rem;
		border-radius: 5rem;
		overflow: hidden;
		position: relative;
		// will-change needed to fix Safari bug not applying border-radius during transform
		will-change: transform;

		// 640px
		@media only screen and (max-width: 40em) {
			width: 35.55555rem;
			height: 20rem;
		}

		&:last-child {
			margin-bottom: 3rem;
		}

		&::before {
			content: "";
			position: absolute;
			width: 100%;
			height: 100%;
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
			transition: all .5s;
			z-index: -1;
			transform: translateZ(0px);
			overflow: hidden;
			border-radius: inherit;
		}

		// Shadow needs to go here due to Safari bug not applying border-radius during transform
		&::after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			box-shadow: .6rem .6rem 12rem 1rem rgba(0,0,0,.75) inset,
					-.6rem -.6rem 12rem 1rem rgba(0,0,0,.75) inset, 
					.3rem .3rem 1rem rgba(0,0,0,.3);
			z-index: 2;
			overflow: hidden;
			border-radius: inherit;
		}

		.no-webp &--erg-chebbi {
			&::before {
				background-image: url("../img/jpg/headers/smallest/erg_header_500w.jpg");

				// container becomes larger than 500px wide at large breakpoint
				@include background-respond(large) {
					background-image: url("../img/jpg/headers/small/erg_header_1000w.jpg");
				}
			}
		}

		&--erg-chebbi {
			&::before {
				background-image: url("../img/webp/headers/smallest/erg_header_500w.webp");

				// container becomes larger than 500px wide at large breakpoint
				@include background-respond(large) {
					background-image: url("../img/webp/headers/small/erg_header_1000w.webp");
				}
			}
		}

		.no-webp &--ait-benhaddou {
			&::before {
				background-image: url("../img/jpg/headers/smallest/ait_header_500w.jpg");

				// container becomes larger than 500px wide at large breakpoint
				@include background-respond(large) {
					background-image: url("../img/jpg/headers/small/ait_header_1000w.jpg");
				}
			}
		}

		&--ait-benhaddou {
			&::before {
				background-image: url("../img/webp/headers/smallest/ait_header_500w.webp");

				// container becomes larger than 500px wide at large breakpoint
				@include background-respond(large) {
					background-image: url("../img/webp/headers/small/ait_header_1000w.webp");
				}
			}
		}

		.no-webp &--chefchaouen {
			&::before {
				background-image: url("../img/jpg/headers/smallest/chef_header_500w.jpg");

				// container becomes larger than 500px wide at large breakpoint
				@include background-respond(large) {
					background-image: url("../img/jpg/headers/small/chef_header_1000w.jpg");
				}
			}
		}

		&--chefchaouen {
			&::before {
				background-image: url("../img/webp/headers/smallest/chef_header_500w.webp");

				// container becomes larger than 500px wide at large breakpoint
				@include background-respond(large) {
					background-image: url("../img/webp/headers/small/chef_header_1000w.webp");
				}
			}
		}

		&:hover::before,
		&:focus-within::before {
			transform: scale(1.3);
		}
	}

	&__link {
		&:link,
		&:visited {
			color: var(--white-color);
			width: 100%;
			height: 100%;
			display: grid;
			place-items: center;
			font-family: $font-display;
			font-weight: 200;
			font-style: italic;
			font-size: 5rem;
			text-decoration: none;
			text-shadow: .1rem .1rem .2rem var(--light-grey-accent);
			transition: all .5s;
			position: relative;
			z-index: 3;
		}


		&:hover,
		&:focus {
			text-shadow: .1rem .1rem .2rem var(--dark-grey-accent);
			transform: scale(1.05);	
		}

		&:focus {
			outline: none;
		}
	}
}