.video-gallery {
	margin: auto;
	padding: 1.5rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
	gap: 1.5rem;
    width: $page-width;

	&__item {
		flex: 1;
		display: flex;
		justify-content: center;
		margin-bottom: 3rem;

		&::before {
			content: "";
			width: 1px;
			margin-left: -1px;
			float: left;
			height: 0;
			padding-top: calc(9 / 16 * 100%);
		}

		&::after {
			content: "";
			display: table;
			clear: both;
		}

		@supports (aspect-ratio: 16/9) {
			&::before,
			&::after {
				content: none;
			}
		}

		//825px
		@media only screen and (max-width: 51.5625em) {
			flex-basis: 100%;
		}
	}
	
	&__video {
		width: 100%;
		height: auto;
		border: none;
		border-radius: 2rem;
		box-shadow: .2rem .2rem 1rem rgba(0,0,0,.2);


		@supports (aspect-ratio: 16/9) {
			aspect-ratio: 16/9;
		}
	}
}