.video-gallery {
	margin: auto;
	margin-bottom: 3rem;
	padding: 1.5rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
	gap: 1.5rem;
    width: $page-width;

	&__item {
		flex: 1;
		display: flex;
		justify-content: center;

		//825px
		@media only screen and (max-width: 51.5625em) {
			flex-basis: 100%;
		}
	}
	
	&__video {
		width: 56rem;
		height: 31.5rem;
		border: none;
		border-radius: 2rem;
		box-shadow: .2rem .2rem 1rem rgba(0,0,0,.2);

		// 470px
		@media only screen and (max-width: 29.375em) {
			width: 30rem;
			height: 16.875rem;
		}


		@supports (aspect-ratio: 16/9) {
			width: 100%;
			height: auto;
			aspect-ratio: 16/9;
		}
	}
}