:root {
	// colors labelled rgb to be used in rgba() when transparency is needed
	--primary-color: #edc9af;
	--primary-color-rgb: 237, 201, 175;
	--secondary-color: #afd3ed;
	--secondary-color-rgb: 175, 211, 237;

	--flag-red-color: #c1272d;
	--flag-red-color-rgb: 193, 39, 45;
	--flag-green-color: #006233;
	--flag-green-color-rgb: 0, 98, 51;

	--light-grey-accent: #c8c8c8;
	--light-grey-accent-rgb: 200, 200, 200;
	--dark-grey-accent: #7a7673;
	--dark-grey-accent-rgb: 122, 118, 115;

	--black-color: #3B3937;
	--black-color-rgb: 59, 57, 55;
	--white-color: #fff8f2;
	--white-color-rgb: 255, 248, 242;
}

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	font-size: 62.5%; // 1rem = 10px

	// Retina screens and 4k - 2880-3840px
	@media only screen and (min-width: 180em) and (max-width: 240em) {
		font-size: 112.5%; // 1rem = 18px
	}

	// 640px
	@media only screen and (max-width: 40em) {
		font-size: 50%; // 1rem = 8px
	}
}

body {
	box-sizing: border-box;
	font-family: $font-primary;
	font-weight: 400;
	line-height: 1.6;
	color: var(--black-color);
	background-color: var(--primary-color);
}

.sr-only {
	height: 0;
	width: 0;
	visibility: hidden;
	display: block;
	position: absolute;
}