:root {
	--primary-color: #edc9af;
	--secondary-color: #afd3ed;

	--flag-red-color: #c1272d;
	--flag-green-color: #006233;

	--light-grey-accent: #d3d3d3;
	--dark-grey-accent: #7a7673;

	--black-color: #3B3937;
	--white-color: #fbf3ed;
}

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	font-size: 62.5%; // 1rem = 10px
}

body {
	box-sizing: border-box;
	font-family: $font-primary;
	font-weight: 300;
	line-height: 1.6;
	color: var(--black-color);
	background-color: var(--primary-color);
}