.btn {
  font-size: 2rem;
  padding: 1.5rem 6rem;
  border-radius: 1rem;
  border: none;
  cursor: pointer;
  transition: all 0.2s;
}
.btn--white {
  background-color: var(--white-color);
  color: inherit;
}
.btn__trigger {
  display: inline-block;
}
.btn__trigger:hover > .btn, .btn:focus {
  box-shadow: 0 1rem 2rem rgba(var(--black-color-rgb), 0.25);
  transform: translateY(-1rem);
}
.btn__trigger > .btn:active {
  box-shadow: 0 0.5rem 1rem rgba(var(--black-color-rgb), 0.5);
  transform: translateY(-0.5rem);
}
.btn:focus {
  outline: none;
}

.form__container {
  width: 80%;
  margin: 1.5rem auto;
  padding: 1.5rem;
}
.form__group {
  margin: auto;
  width: 80%;
  padding: 1.5rem;
  position: relative;
}
.form__group:first-child {
  padding-top: 0;
}
.form__group:last-child {
  margin: 2.2rem auto 1rem;
}
.form__input {
  font-size: 1.6rem;
  font-family: inherit;
  background-color: var(--white-color);
  color: inherit;
  padding: 1.5rem 2rem;
  width: 100%;
  border-radius: 1rem;
  border: none;
  display: block;
  border-bottom: 0.2rem solid transparent;
  border-top: 0.2rem solid transparent;
  transition: all 0.3s;
}
.form__input:focus {
  outline: none;
  box-shadow: 0 1rem 2rem rgba(var(--black-color-rgb), 0.25);
}
.form__input:focus:valid {
  border-bottom: 0.3rem solid var(--flag-green-color);
}
.form__input:focus:invalid {
  border-bottom: 0.3rem solid var(--flag-red-color);
}
.form__input:focus:optional {
  border-bottom: 0.2rem solid var(--primary-color);
}
.form__input::-moz-placeholder {
  color: var(--dark-grey-accent);
}
.form__input:-ms-input-placeholder {
  color: var(--dark-grey-accent);
}
.form__input::placeholder {
  color: var(--dark-grey-accent);
}
.form__label {
  font-size: 1.6rem;
  margin-left: 2rem;
  display: block;
  color: inherit;
  transition: all 0.3s;
  transform: translateY(-8rem);
}
.form__label--textarea {
  position: absolute;
  top: 0;
  transform: translateY(-1.4rem);
}
.form__input:-moz-placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem);
}
.form__input:-ms-input-placeholder + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem);
}
.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem);
}
.form__input--textarea:-moz-placeholder-shown + .form__label--textarea {
  opacity: 0;
  visibility: hidden;
  transform: translateY(2.5rem);
}
.form__input--textarea:-ms-input-placeholder + .form__label--textarea {
  opacity: 0;
  visibility: hidden;
  transform: translateY(2.5rem);
}
.form__input--textarea:placeholder-shown + .form__label--textarea {
  opacity: 0;
  visibility: hidden;
  transform: translateY(2.5rem);
}
.form__small-text {
  margin-left: 2rem;
  position: absolute;
  top: 6.7rem;
  font-size: 1rem;
}

.intro {
  width: 80%;
  margin: 3rem auto 1.5rem;
  padding: 1.5rem;
}
.intro__text {
  font-size: 1.6rem;
}
.intro__text:not(:last-child) {
  margin-bottom: 1.5rem;
}

.landscape-gallery {
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  grid-template-rows: 1fr;
  gap: 1.5rem;
  padding: 1.5rem;
}
@media only screen and (max-width: 26.25em) {
  .landscape-gallery {
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  }
}
.landscape-gallery__item {
  display: flex;
  position: relative;
  margin: 0;
}
.landscape-gallery__item::before {
  content: "";
  display: block;
  height: 0;
  width: 0;
  padding-bottom: calc(2/3 * 100%);
}
.landscape-gallery__image {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  display: block;
  border-radius: 2rem;
}
.landscape-gallery__caption {
  display: none;
}
.landscape-gallery__link {
  display: none;
}

.page-links {
  margin: 1.5rem auto;
  padding: 1.5rem;
}
.page-links__container {
  width: 44.44444rem;
  height: 25rem;
  margin: auto;
  margin-bottom: 6rem;
  border-radius: 10%;
  box-shadow: 0.6rem 0.6rem 12rem 1rem rgba(var(--black-color-rgb), 0.75) inset, -0.6rem -0.6rem 12rem 1rem rgba(var(--black-color-rgb), 0.75) inset, 0.3rem 0.3rem 0.3rem rgba(var(--black-color-rgb), 0.5);
  overflow: hidden;
  position: relative;
}
@media only screen and (max-width: 40em) {
  .page-links__container {
    width: 35.55555rem;
    height: 20rem;
  }
}
.page-links__container:last-child {
  margin-bottom: 3rem;
}
.page-links__container::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: all 0.5s;
  z-index: -1;
  transform: translateZ(0px);
}
.page-links__container--erg-chebbi::before {
  background-image: url("../../images/erg-header.jpg");
}
.page-links__container--ait-benhaddou::before {
  background-image: url("../../images/ait-header.jpg");
}
.page-links__container--chefchaouen::before {
  background-image: url("../../images/chef-header.jpg");
}
.page-links__container:hover::before, .page-links__container:focus-within::before {
  transform: scale(1.3);
}
.page-links__link:link, .page-links__link:visited {
  color: var(--white-color);
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  font-family: "Bitter", serif;
  font-weight: 200;
  font-style: italic;
  font-size: 5rem;
  text-decoration: none;
  text-shadow: 0.1rem 0.1rem 0.2rem var(--light-grey-accent);
  transition: all 0.5s;
}
.page-links__link:hover, .page-links__link:focus {
  color: var(--light-grey-accent);
  text-shadow: 0.1rem 0.1rem 0.2rem var(--dark-grey-accent);
  transform: scale(1.05);
}
.page-links__link:focus {
  outline: none;
}

:root {
  --primary-color: #edc9af;
  --primary-color-rgb: 237, 201, 175;
  --secondary-color: #afd3ed;
  --secondary-color-rgb: 175, 211, 237;
  --flag-red-color: #c1272d;
  --flag-red-color-rgb: 193, 39, 45;
  --flag-green-color: #006233;
  --flag-green-color-rgb: 0, 98, 51;
  --light-grey-accent: #c8c8c8;
  --light-grey-accent-rgb: 200, 200, 200;
  --dark-grey-accent: #7a7673;
  --dark-grey-accent-rgb: 122, 118, 115;
  --black-color: #3B3937;
  --black-color-rgb: 59, 57, 55;
  --white-color: #fff8f2;
  --white-color-rgb: 255, 248, 242;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}
@media only screen and (min-width: 180em) and (max-width: 240em) {
  html {
    font-size: 112.5%;
  }
}
@media only screen and (max-width: 40em) {
  html {
    font-size: 50%;
  }
}

body {
  box-sizing: border-box;
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--black-color);
  background-color: var(--primary-color);
}

.sr-only {
  height: 0;
  width: 0;
  visibility: hidden;
  display: block;
  position: absolute;
}

.heading-1 {
  font-family: "Bitter", serif;
  font-size: 5rem;
  font-weight: 200;
  font-style: italic;
  text-align: center;
  color: var(--white-color);
  padding: 2rem;
}

.u-center-text {
  text-align: center !important;
}

.footer {
  padding: 1.5rem;
  background-color: var(--light-grey-accent);
  font-size: 1.6rem;
}
.footer__text {
  text-align: center;
}
.footer__link:link, .footer__link:visited {
  color: inherit;
  font-style: italic;
  text-decoration: none;
  transition: all 0.2s;
}
.footer__link:hover, .footer__link:focus {
  color: var(--white-color);
}

.header {
  width: 100%;
  height: 20rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 200;
}
.header--home {
  background-image: url("../../images/home-header.jpg");
}
.header--erg-chebbi {
  background-image: url("../../img/jpg/headers/1080/erg_header_2000w.jpg");
}

.navigation {
  background-color: var(--light-grey-accent);
  padding: 1.5rem;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 100;
}
.navigation__list {
  display: flex;
  justify-content: center;
}
.navigation__item {
  list-style: none;
}
.navigation__link:link, .navigation__link:visited {
  font-size: 1.6rem;
  margin: 1rem 2rem;
  color: inherit;
  text-decoration: none;
  transition: all 0.2s;
}
.navigation__link:hover, .navigation__link:focus {
  color: var(--white-color);
  transform: translateY(-0.2rem);
}
.navigation__link:focus {
  outline: none;
}
.navigation__link.navigation__link--highlight {
  color: var(--white-color);
  text-decoration: underline;
  cursor: default;
}
.navigation__checkbox, .navigation__button, .navigation__icon, .navigation__title {
  display: none;
}
@media only screen and (max-width: 41.25em) {
  .navigation__checkbox, .navigation__button, .navigation__icon, .navigation__title {
    display: block;
  }
  .navigation {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0;
  }
  .navigation__checkbox {
    width: 0;
    height: 0;
    visibility: hidden;
    position: absolute;
  }
  .navigation__button {
    width: 3rem;
    height: 100%;
    position: relative;
    cursor: pointer;
    display: block;
    padding: 2rem 0;
    margin-right: 2rem;
    background-color: var(--light-grey-accent);
    transition: all 0.2s;
  }
  .navigation__button:focus {
    outline: none;
  }
  .navigation__button:hover > *, .navigation__button:hover > *::before, .navigation__button:hover > *::after, .navigation__button:focus > *, .navigation__button:focus > *::before, .navigation__button:focus > *::after {
    background-color: var(--black-color);
  }
  .navigation__icon {
    border: none;
    border-radius: 0;
    background-color: var(--white-color);
    height: 2px;
    width: 3rem;
    position: absolute;
    left: 0;
    line-height: normal;
    font-size: 1rem;
    z-index: 101;
    transition: all 0.3s;
  }
  .navigation__icon::before, .navigation__icon::after {
    background-color: var(--white-color);
    height: 2px;
    width: 3rem;
    content: "";
    display: block;
    position: absolute;
    z-index: 101;
    transition: all 0.3s;
  }
  .navigation__icon::before {
    transform: translateY(-0.9rem);
  }
  .navigation__icon::after {
    transform: translateY(0.9rem);
  }
  .navigation__icon:focus {
    outline: none;
  }
  .navigation__title {
    font-size: 2rem;
    font-family: "Bitter", serif;
    flex: 1;
    background-color: var(--light-grey-accent);
    height: 100%;
    padding: 1.5rem 2rem;
    position: relative;
    z-index: 100;
  }
  .navigation__menu {
    transform: translateY(-125%);
    position: absolute;
    left: 0;
    top: 5rem;
    width: 100vw;
    background-color: var(--light-grey-accent);
    z-index: 99;
    transition: all 0.3s ease-in-out;
  }
  .navigation__list {
    flex-direction: column;
    padding: 0 2rem;
  }
  .navigation__link:link, .navigation__link:visited {
    margin: unset;
  }
  .navigation__item {
    padding: 1rem 0;
  }
  .navigation__item:last-child {
    padding-bottom: 2rem;
  }
  .navigation__checkbox:checked ~ .navigation__button .navigation__icon {
    background-color: transparent;
  }
  .navigation__checkbox:checked ~ .navigation__button .navigation__icon::before {
    top: 0;
    transform: rotate(135deg);
  }
  .navigation__checkbox:checked ~ .navigation__button .navigation__icon::after {
    top: 0;
    transform: rotate(-135deg);
  }
  .navigation__checkbox:checked ~ .navigation__button {
    margin-right: 1.5rem;
  }
  .navigation__checkbox:checked ~ .navigation__menu {
    transform: translateY(0);
  }
}/*# sourceMappingURL=main.css.map */